body {
    background-image: url(IMG/fondopantalla.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*Inicio*/
.principal{
    background: blanchedalmond;
    border: 3px solid;
    padding: 20px;
    position: absolute;
    top: 30%;
    left: 38%;
}
h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}


/*Ventana ADMIN*/
.table__titulo{
    text-align: center;
}
.table{
    word-spacing: 10px;
    background: white;
    width: 40%;  
    margin: auto;
}

.border{
    border-style: solid;
    border-width: thick;
}

/*cerrar sesion*/
.botton_exit{
    position: absolute;
    right: 5%;
    top: 0;
}


/*Eliminar archivo*/
.title_delete{
    position: relative;
    left: 50%;
}

